:root {
    --navyblue-cl: #2E2F42;
    --iris-cl: #4D5AE5;
    --ocaen-cl: #404BBF;
    --slate-cl: #434455;
    --white-cl: #FFFFFF;
    --cloud-cl: #F4F4FD;
    --cornflower-cl: #E7E9FC;

    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    color: var(--slate-cl);
    font-family: var(--main-font);
    background-color: var(--white-cl);
}

/**
  RESET
 */
address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}


.logo-link {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-cl);
}

.logo-accent {
    color: var(--iris-cl);
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    color: var(--slate-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    /*width: 1158px;*/
}

/**
  HEADER
 */
.header {

}
.header-nav-list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--navyblue-cl);
}

.address-link:hover,
.address-link:focus,
.header-link:hover,
.header-link:focus {
    color: var(--ocaen-cl);
}

.header-logo-accent {
    color: var(--navyblue-cl);
}

/**
  FOOTER
 */
.footer {
    background-color: var(--navyblue-cl);
    padding: 102px 1020px 100px 156px;
}

.footer-text {
    color: var(--cloud-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 18px;
}

.footer-logo-accent {
    color: var(--cloud-cl);
}

/**
  |============================
  | STUDIO styles
  |============================
*/
.studio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-cl);
}

/**
   HERO
 */
.hero {
    background-color: var(--navyblue-cl);
    color: var(--white-cl);
    padding: 188px 472px;
}

.hero-title {
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    width: 496px;
    margin-bottom: 40px;
}

.hero-btn {
    background-color: var(--iris-cl);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocaen-cl);
}

/**
   FEATURE
 */
.feature{
    padding: 120px 156px ;
}

.feature-subtitle {
    color: var(--navyblue-cl);

    padding-bottom: 8px;
}

.feature-list {
    display: inline-flex;
    gap: 24px;
}

/**
   ACTION
 */
.action{
    padding: 0 156px 120px;
}

.action-list {
    display: inline-flex;
    gap: 24px;
}

.action .studio-title {
    padding-bottom: 72px;
}

/**
  TEAM
 */

.team {
    background-color: var(--cloud-cl);
    padding: 120px 156px ;
}

.team-item {
    background-color: var(--white-cl);
}

.team-subtitle {
    text-align: center;
    color: var(--navyblue-cl);
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-text {
    text-align: center;
    padding-bottom: 32px;
}

.team-list {
    display: inline-flex;
    gap: 24px;
}

.team .studio-title {
    padding-bottom: 72px;
}

/**
  |============================
  | PORTFOLIO styles
  |============================
*/

/**
PORTFOLIO
 */
.portfolio {
    padding: 96px 156px 120px;
}
.portfolio-subtitle {
    color: var(--navyblue-cl);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
}
/**
  FILTERS
 */
.portfolio-btn {
    color: var(--iris-cl);
    background-color: var(--cloud-cl);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocaen-cl);
    color: var(--white-cl);
}

.btn-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;

    padding-bottom: 84px;
}

.portfolio-item {
    border: 1px solid var(--cornflower-cl);

}
